<html>
	<head>
        <title>Random movie {{ .env }}</title>
    </head>
	<body>
        <div id="app"></div>
    </body>
    <script>
    window.__ENV__ = "{{ .env }}";
    window.csrfToken = "{{ .csrfToken }}";
    </script>
    <script src="{{ .staticHost }}/static/main.js"></script>


</html>
